// General
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(208, 97%, 87%);
  color: hsl(201, 85%, 36%);
}
// Main
.city {
  background: none;
  color: inherit;
  border: none;
  outline: none;
  text-align: center;
  font-size: 4rem;
  margin: 0 0 1rem 0;
  text-decoration: 1px underline wavy;
  text-decoration-color: hsl(201, 25%, 36%);
  cursor: pointer;
}
.temp {
  font-size: 7rem;
  line-height: 1;
  position: relative;
  &__unit {
    position: absolute;
    top: -0.3rem;
    right: -1.5rem;
    font-size: 2rem;
    cursor: pointer;
  }
}
.desc {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}
.details {
  display: flex;
  gap: 1.7rem;
  &__item {
    display: flex;
    align-items: center;
    gap: 3px;
    &:first-child .details__icon {
      margin: 0 5px 0 0;
    }
  }

  &__icon {
    width: 30px;
    filter: invert(30%) sepia(83%) saturate(1494%) hue-rotate(176deg) brightness(89%)
      contrast(93%);
  }

  &__num {
    font-size: 1.2rem;
  }
}
#weather-icon {
  transform: translateY(-1.5rem);
}
